{% extends '_base.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}Home{% endblock title %}

{% block content %}
<h1>HomePage</h1>
<img class="bookcover" src="{% static 'images/content.jpg' %}" />
{% if user.is_authenticated %}
    Hi {{user.username}}
    <p><a href="{% url 'account_logout' %}">Log Out</a></p>
{% else %}
    <p>You are not logged in.</p>
    <a href="{% url 'account_login' %}">Log In</a>
    <a href="{% url 'account_signup' %}">Sign Up</a>
    <a href="{% provider_login_url 'github' %}" class="btn btn-secondary">
        <i class="fa fa-github fa-fw"></i>
        <span>Login with GitHub</span>
    </a>
    <a href="{% provider_login_url 'google' %}">Login With Google</a>

{% endif %}
{% endblock content %}